
.representative {
    display: flex;
}

.representative__info {
    flex: 2;
}

.representative__committees {
    flex: 2;
    flex-direction: row;
}

h1 {
    align-items: center;
}
